.editor {
  width: 100%;
  max-width: 768px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 1px solid #f5f5f5;
}
.editor > li {
  list-style: square;
  margin: initial;
}
.page-wrapper {
  width: 100%;
  padding: 0 25px;
  padding-top: 75px;
  font-size: 40px;
  height: calc(100vh - 105px);
}
.editor:focus,
.page-wrapper:focus {
  outline: none;
}
.page-wrapper:empty:before,
.editor:empty:before {
  content: attr(data-placeholder);
  color: gray;
}
.codeBlock {
  background-color: rgb(21, 34, 75);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 39px;
  font-family: "Courier New", Courier, monospace;
  overflow: auto;
  color: white;
  padding: 8px;
}
