.toolbar {
  border: solid 1px #ddd;
  background: #f4f4f4;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
  margin: 0 auto;
  min-height: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  position: relative;
}
.toolbar button {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #000000;
  opacity: 0.5;
  position: relative;
}
.toolbar button i {
  font-size: 20px;
  color: #000000;
}
.toolbar button.active {
  opacity: 1;
}
.hidden {
  visibility: hidden;
}
.link-wrapper {
  position: relative;
}
.link-picker {
  position: absolute;
  display: flex;
  left: -183px;
  top: 45px;
  z-index: 1111;
}
.link-picker p {
}
.link-picker input {
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

.color-picker {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.selected-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 5px;
  width: 100%;
  display: flex;
  align-items: center;
}
.selected-text p{
  font-size: 14px;
  margin-right: 10px;
}
